<template>
  <div class="employee row" v-if="loadEmployee">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="employee__img"
           @click="openGallery(0)"
           :style="{'background-image': `url(${employee.picture.medium})`}"></div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 col-12">
      <table class="table table-borderless">
        <tbody>
        <tr class="text-left">
          <td colspan="2" class="employee__name">{{fullName}}</td>
        </tr>
        <tr class="text-left">
          <td>Birthday:</td>
          <td>{{dateBirth}}</td>
        </tr>
        <tr class="text-left">
          <td>Age:</td>
          <td>{{employee.dob.age}} years</td>
        </tr>
        <tr class="text-left">
          <td>E-mail:</td>
          <td>{{employee.email}}</td>
        </tr>
        <tr class="text-left">
          <td>Phone:</td>
          <td>{{employee.phone}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <LightBox
     :images="images"
     ref="lightbox"
     :show-caption="true"
     :show-thumbs="false"
     :show-light-box="false"
    ></LightBox>
  </div>
</template>

<script>
import Vue from 'vue'
import VueLazyload from 'vue-lazyload'
import LightBox from 'vue-image-lightbox'
require('vue-image-lightbox/dist/vue-image-lightbox.min.css')

Vue.use(VueLazyload)

export default {
  data() {
    return {
      images: []
    }
  },
  computed: {
    employee() {
      const id = this.$route.params.id
      return this.$store.getters.employeeById(id)
    },
    loadEmployee() {
      return this.$store.getters.loaded
    },
    fullName() {
      return this.employee.name.last + ' ' + this.employee.name.first
    },
    dateBirth() {
      return new Date(this.employee.dob.date).toISOString().slice(0, 10)
        .split('-').reverse().join('.')
    }
  },
  methods: {
    openGallery(index) {
      this.$refs.lightbox.showImage(index)
    }
  },
  beforeMount() {
    this.images.push({
      'thumb': this.employee.picture.thumbnail,
      'src': this.employee.picture.large,
      'caption': this.fullName
    })
  },
  components: {
    LightBox
  }
}
</script>

<style scoped lang="sass">
  .employee
    &__img
      width: 100%
      padding-bottom: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover
    &__name
      font-size: 30px
      font-weight: 600
</style>

<style>
  img.vue-lb-modal-image{
    min-height: calc(100vh - 200px)
  }
  @media (max-width: 992px){
    img.vue-lb-modal-image{
      min-height: 200px;
    }
  }
</style>
