<template>
  <div class="error">
    <h2>404</h2>
    <p>File not found</p>
  </div>
</template>

<style scoped>
  .error{
    color: darkred;
  }
  .error h2{
    font-size: 80px;
    font-weight: 600;
  }
</style>
