<template>
  <div class="home">
    <list-employees/>
  </div>
</template>

<script>
import ListEmployees from '@/components/ListEmployees.vue'

export default {
  name: 'home',
  components: {
    ListEmployees
  }
}
</script>
