<template>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12 mb-4">
          <input class="form-control" type="text" v-model="search" placeholder="Search by Fullname">
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-12 d-flex filter-date">
          <date-picker
           input-class="mx-input app-datepicker"
           class="mr-3"
           v-model="filterDate.from"
           valueType="format"
           placeholder="From"/>
          <date-picker
           input-class="mx-input app-datepicker"
           v-model="filterDate.to"
           valueType="format"
           placeholder="To"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-4 col-4 mb-4 d-flex justify-content-start align-items-center">
          <button class="view-btn btn mr-2" :class="{'active' : grid}" @click="changeType(true)">
            <icon-module :size="48"/>
          </button>
          <button class="view-btn btn mr-2" :class="{'active' : !grid}" @click="changeType(false)">
            <icon-list :size="48"/>
          </button>
        </div>
        <div class="col-xl-8 col-lg-9 col-md-8 col-sm-8 col-8 mb-4 d-flex justify-content-end">
          <button class="btn mr-2" @click="sort.desc = !sort.desc">
            <icon-desc v-if="sort.desc" :size="48"/>
            <icon-asc v-else :size="48"/>
          </button>
          <select class="form-control" style="width: auto;" v-model="sort.val">
            <option v-for="value in sort.list" :value="value.val" :key="value.val">{{value.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mb-4"
         :class="classList"
         v-for="(employee, index) in fullFilter"
         :key="index">
      <div class="employee-item">
        <router-link class="employee-item__img"
                     :to="'employee/' + getIndex(index)"
                     :style="{'background-image': `url(${previewImg(employee)})`}">
        </router-link>
        <div class="employee-info">
          <router-link class="employee-info__name"
                       :to="'employee/' + getIndex(index)">
            <span>{{fullName(employee)}}</span>
          </router-link>
          <p class="employee-info__birth">{{dateBirth(employee)}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import IconAsc from 'vue-material-design-icons/SortAscending'
import IconDesc from 'vue-material-design-icons/SortDescending'
import IconList from 'vue-material-design-icons/ViewList'
import IconModule from 'vue-material-design-icons/ViewModule'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
  data() {
    return {
      search: '',
      filterDate: {
        from: null,
        to: null
      },
      sort: {
        val: 'default',
        desc: true,
        list: [
          { val: 'default', name: 'default' },
          { val: 'fullname', name: 'by fullname' },
          { val: 'birthday', name: 'by birthday' }
        ]
      },
      grid: null
    }
  },
  computed: {
    classList() {
      return this.grid !== true ? 'col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 empl-list'
        : 'col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12'
    },
    employees() {
      return this.$store.getters.employees
    },
    fullFilter() {
      const sortVal = this.sort.val
      const searchStr = this.search
      const desc = this.sort.desc
      let fromDate = this.filterDate.from
      let toDate = this.filterDate.to
      fromDate = (this.filterDate.from !== null) ? new Date(fromDate) : fromDate
      toDate = (this.filterDate.to !== null) ? new Date(toDate) : toDate
      return this.employees
        .filter(empl => this.fullName(empl).toLowerCase().indexOf(searchStr.toLowerCase()) !== -1)
        .filter(el => {
          const currClearDate = new Date(el.dob.date)
          const flagFrom = (fromDate == null) ? true : currClearDate >= fromDate
          const flagTo = (toDate == null) ? true : currClearDate <= toDate
          return flagFrom && flagTo
        })
        .sort((a, b) => {
          if (sortVal === 'fullname') {
            return (desc) ? this.fullName(a).localeCompare(this.fullName(b))
              : this.fullName(b).localeCompare(this.fullName(a))
          } else if (sortVal === 'birthday') {
            return (desc) ? (new Date(a.dob.date).getTime() - new Date(b.dob.date).getTime())
              : (new Date(b.dob.date).getTime() - new Date(a.dob.date).getTime())
          } else {
            return (desc) ? 1 : -1
          }
        })
    }
  },
  beforeMount() {
    const view = localStorage.getItem('viewType')
    this.grid = (view === undefined) ? true : view !== 'false'
  },
  methods: {
    changeType(flag) {
      this.grid = flag
      localStorage.setItem('viewType', flag)
    },
    searchEmployees(list) {
      return list.filter(empl => this.fullName(empl).toLowerCase().indexOf(this.search.toLowerCase()) !== -1)
    },
    fullName(employee) {
      return employee.name.last + ' ' + employee.name.first
    },
    dateBirth(employee) {
      return new Date(employee.dob.date).toISOString().slice(0, 10)
        .split('-').reverse().join('.')
    },
    getIndex(index) {
      return (parseInt(index) + 1)
    },
    previewImg(employee) {
      return this.grid ? employee.picture.large : employee.picture.medium
    }
  },
  components: {
    IconAsc,
    IconDesc,
    IconList,
    IconModule,
    DatePicker
  }
}
</script>

<style scoped lang="sass">
  .employee
    &-item
      box-shadow: 1px 0 5px #bababa
      transition: .3s
      height: 100%
      &:hover
        box-shadow: 1px 0 8px #4e4e4e
      &__img
        display: block
        width: 100%
        padding-bottom: 100%
        background-position: center
        background-size: cover
    &-info
      padding: 15px
      &__name
        font-size: 20px
        font-weight: 600
        transition: .3s
        &:hover
          text-decoration: none
      &__birth
        margin-bottom: 0
  .view-btn
    display: flex
    height: 30px
    width: 30px
    padding: 0
    & span
      width: 100%
      height: 100%
      display: block
    & svg
      width: 30px
      height: 30px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  .active
    .material-design-icon
      color: blue
  .empl-list
    .employee
      &-item
        display: flex
        height: 80px
        border-top-right-radius: 20px
        border-bottom-left-radius: 20px
        overflow: hidden
        &__img
          width: 80px
          height: 80px
          padding-bottom: 0
      &-info
        text-align: left
        &__name
          font-size: 16px
  .filter-date
    justify-content: flex-end
  @media (max-width: 575px)
    .filter-date
      margin-bottom: 20px
      justify-content: space-between
</style>

<style lang="sass">
  .app-datepicker
    height: 38px
    box-shadow: none
    border: 1px solid #ced4da
    &:focus
      color: #495057
      background-color: #fff
      border-color: #80bdff
      outline: 0
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25)
</style>
