<template>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <router-link to="/" class="navbar-brand">Phone Book</router-link>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <router-link to="/" class="nav-link" active-class="active">Home Page</router-link>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main container">
      <router-view/>
    </main>
    <transition name="fade">
      <div class="loader" v-show="!loaded">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  methods: {
    // fetchData() {
    //   this.$store.dispatch('getEmployees')
    // }
  },
  computed: {
    loaded() {
      return this.$store.getters.loaded
    }
  },
  created() {
    // this.fetchData()
  }
}
</script>

<style lang="sass">
  #app
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50

    #nav
      padding: 30px
      a
        font-weight: bold
        color: #2c3e50
        &.router-link-exact-active
          color: #42b983
    .loader
      position: fixed
      width: 100%
      height: 100vh
      top: 0
      left: 0
      background: rgba(255, 255, 255, 0.85)
    .main
      padding: 50px 0
  @media (max-width: 575px)
    #app
      .main
        padding: 30px 15px
</style>
